@media all and (max-width: 650px) {
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav,
  .top-header .nav ul {
    width: 100%;
    padding: 0 0 0 0;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before,
  .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}
